/*---------------------Variables-----------------------*/

:root {
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(243, 143, 177);
    --divText: #191919
}

/*-----------------------------------------------------*/

/*---------------------Main CSS-----------------------*/
* {
    box-sizing: border-box;
}

body {
    height: 100%;
    align-items: stretch;
    background-color: #fff;
    color: var(--divText);
    margin: 0;
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
}
/*----------------------------------------------------*/

/*-----------------Links that need CSS----------------*/
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

li > .link:link {
    color: black;
    text-decoration: underline;
}

/*-----------------------------------------------------*/

.headerBar {
    background-color: var(--divText);
    padding-bottom: 20px;
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.image {
    max-width: 90px;
}

.displayImage {
    max-width: 100%;
    max-height: 100%;
}

/*-----------------Drop down boxes----------------*/
.dropDown {
    position: relative;
    display: inline-block;
    align-items: center;
}

.dropbtn {
    height: 100%;
}

.dropdownContent {
    text-align: center;
    display: none;
    position: absolute;
    background-color: var(--divText);
    color: white;
    min-width: 88%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menuItem {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-decoration: underline;
}

/* Change color of dropdown links on hover */
.dropdownContent a:hover {
    background-color: #343434;
}

/* Show the dropdown menu on hover */
.dropDown:hover .dropdownContent {display: block;} .menuItem {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropDown:hover .dropbtn {background-color: #343434;}

/*———————————————————————————---------------------*/

/*---------------------Top Bar Elements-----------------------*/

.horizontalElement {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    color: white; /* Dark mode: white */
}

/*------------------------------------------------------------*/

/*---------------------Article + children-----------------------*/

.pageArticle {
    background-color: white; /* Dark mode: #232323 */
    position: relative;
    height: 100%;
    margin-top: 25px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15px;
}

/*--------------------------------------------------------------*/

/*---------------------Contact info---------------------*/

.socialLinks {
    display: inline-flex;
    height: 100%;
    width: 100%;
    align-items: center;
    align-content: center;
}

.contact_button {
    display: flex;
    min-width: 20vw;
    font-size: 7vw;
    color: var(--divText);
    width: 50%;
}

.contact_icon {
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
}

/*------------------------------------------------------*/

/*---------------------Footer Content-----------------------*/

.pageBottom {
    width: 100%;
    background-color: var(--divText);
    color: white;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
}

/*----------------------------------------------------------*/
