/*---------------------Variables-----------------------*/

:root {
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(243, 143, 177);
    --divText: #191919
}

/*-----------------------------------------------------*/

/*---------------------Animation-----------------------*/

@keyframes background-pan {
    from {
        background-position: 0% center;
    } to {
        background-position: -200% center;
    }
}

/*-----------------------------------------------------*/

/*---------------------Main CSS-----------------------*/
* {
    box-sizing: border-box;
}

body {
    height: 100%;
    align-items: stretch;
    background-color: #fff;
    color: var(--divText);
    margin: 0;
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
}
/*----------------------------------------------------*/

/*-----------------Links that need CSS----------------*/
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

li > .link:link {
    color: black;
    text-decoration: underline;
}

/*-----------------------------------------------------*/

.headerBar {
    background-color: var(--divText);
    padding-bottom: 20px;
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.image {
    max-width: 90px;
}

.displayImage {
    max-width: 100%;
    max-height: 100%;
}

/*-----------------Drop down boxes----------------*/
.dropDown {
    position: relative;
    display: inline-block;
    align-items: center;
}

.dropbtn {
    height: 100%;
}

.dropdownContent {
    text-align: center;
    display: none;
    position: absolute;
    background-color: var(--divText);
    color: white;
    min-width: 88%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menuItem {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-decoration: underline;
}

/* Change color of dropdown links on hover */
.dropdownContent a:hover {
    background-color: #343434;
}

/* Show the dropdown menu on hover */
.dropDown:hover .dropdownContent {display: block;} .menuItem {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropDown:hover .dropbtn {background-color: #343434;}

/*———————————————————————————---------------------*/

/*---------------------Top Bar Elements-----------------------*/

.horizontalElement {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    color: white; /* Dark mode: white */
}

/*------------------------------------------------------------*/

/*---------------------Article + children-----------------------*/

.pageArticle {
    background-color: #EEEEEE; /* Dark mode: #232323 */
    position: relative;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
This means that whenever this site is run on mobile
or on a smaller width screen, the margin and background
box shadow are removed
*/
@media (max-width: 767px) {
    .corset {
        padding-top: 25px;
        background-color: white;
        padding-bottom: 0;
        margin-left: 15px;
        margin-right: 15px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

.funkyDiv {
    text-align: center;
    margin-top: -10px;
}

.funkyText {
    font-weight: bold;
    font-size: 17vw;
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

/*--------------------------------------------------------------*/

/*---------------------Aside Content-----------------------*/

/*---------------------------------------------------------*/

/*---------------------Footer Content-----------------------*/

.pageBottom {
    width: 100%;
    background-color: var(--divText);
    color: white;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
}

.footerImage {
    max-width: 90px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

/*----------------------------------------------------------*/
