* {
    box-sizing: border-box;
}

body {
    background-color: #191919; /* Dark mode will eventually be #191919 */
    color: #fff; /* Dark mode: #fff */
    margin-top: 10pt;
    margin-left: 20pt;
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 10%;
    padding-right: 10%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.link:link {
    color: white; /* Dark mode: white */
    text-decoration: underline;
}

.topBar {
    background-color: #232323; /* Dark mode: #191919 */
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

.image {
    max-width: 100px;
}

.horizontalElement {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    color: white; /* Dark mode: white */
}

.elementList {
    display: inline-block;
    align-items: center;
    min-width: fit-content;
}

.mainArticle {
    background-color: #232323; /* Dark mode: #232323 */
    position:relative;
    margin-top: 25px;
    padding-top: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 1rem;
}